.detailcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #623cea;
    color: white;
    padding-bottom: 30px;
    margin-top: 10px;
    padding-top: 40px;
}

.instrumentcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#e697d8, white);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.btnVer {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 13px;
    border: none;
    border-radius: 10%;
    margin: 20px;
}

.btnVer:hover {
    background-color: black;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.instrument {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainimg {
    width: 20vw;
    height: 30vw;

    /* object-fit: cover; */
    /* display: block; */


}

.instrumenth1 {
    color: black;
    margin: 20px 0;
    font-size: 32px;
    text-align: left;
}

.instrumentp {
    color: black;
    font-weight: 500;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-content: center;
    justify-items: center;
    padding: 1rem;
    width: 35vw;
}

.galeria img {
    width: 50%;
    
}

h3{
    text-align: center;
}
h4{
    text-align: center;
}
.sectionDetalles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(pink, #e697d8);
    /* Agregar un fondo para destacar la sección */
    padding: 20px;
    /* Añadir espacio interno para mejorar la separación */
    border-radius: 10px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: 5rem;

}

.btnAtras {
    position: absolute;
    left: 85%;
    top: 20%;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    margin: 20px;
    transition: background-color 0.3s;
}

.btnAtras:hover {
    background-color: #623cea;
    border: 1px solid white;
}

/*alinear boton cerrar*/
.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeBtn {

    background-color: #623cea;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 10%;
    margin: 20px;
}


.customButton {
    background-color: #539dc2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.customButton:hover {
    background-color: #2a5c7a;
}

.shareIcon {
    font-size: 22px;
    margin-right: 5px;
}

.dispo{
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px
}

.calendarioBtn input{
    height: 35px;
    width: 190px;
    text-align: center;
    border: black;
    border-radius: 0px;
    cursor: pointer;
}

.rmdp-week-day{
    border-radius: 0% !important;
    color: #e697d8;
 
}
.btnRes{
    background-color: #623cea;
    color: white;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.listaCateg{
    display: flex;
    flex-direction: column-reverse;
}